nav {
    background-color: $bg-color;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 14rem;
}

.ligne{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 0 5% 5% 5%;
    color: black;
    border-bottom:3px solid rgb(0, 0, 0);
}
